        <div class="forest-1">
            <svg width="684" height="685" viewBox="0 0 684 685" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M256.5 513.75H192.375V685H256.5V513.75Z" fill="#9B756D" />
                <path d="M224.438 396.016C171.845 468.956 102.097 527.777 21.375 567.266C84.8488 597.371 154.205 612.987 224.438 612.987C294.67 612.987 364.026 597.371 427.5 567.266C346.778 527.777 277.03 468.956 224.438 396.016V396.016Z" fill="url(#paint0_linear_71_837)" />
                <path d="M224.438 267.578C164.16 339.075 120.982 387.774 32.0625 438.828C156.474 483.268 292.401 483.268 416.812 438.828C320.625 383.814 273.172 325.375 224.438 267.578Z" fill="url(#paint1_linear_71_837)" />
                <path d="M224.438 171.25C192.452 226.531 148.656 274.045 96.1875 310.391C136.825 327.348 180.413 336.078 224.438 336.078C268.462 336.078 312.05 327.348 352.688 310.391C300.221 274.042 256.426 226.529 224.438 171.25V171.25Z" fill="url(#paint2_linear_71_837)" />
                <g filter="url(#filter0_d_71_837)">
                    <path d="M325 587C310.703 588.82 268.241 596.42 253.868 596.265C233.31 596.042 216.185 598.169 195.681 596.265C180.121 594.819 162.599 594.474 147.283 591C134.231 588.04 121.771 587.62 109.115 583.365C89.327 576.713 69.207 570.279 50.8487 560.245C48.1325 558.76 51.3636 558.475 53.1256 557.824C62.0342 554.536 71.0697 551.308 79.8367 547.673C99.4376 539.545 119.853 530.931 135.603 516.228C146.589 505.971 156.85 493.876 163.474 480.312C167.117 472.855 173.771 465.193 174.963 456.747C176.247 447.648 145.491 447.462 137.635 447.183C120.47 446.572 102.606 443.283 85.744 439.845C80.0742 438.689 73.8004 434.243 68.4962 433.741C61.4139 433.07 75.9476 426.282 78.2984 425.061C90.2232 418.867 98.5114 409.491 109.895 402.455C123.176 394.248 136.479 382.188 147.283 371.027C157.249 360.732 167.055 350.041 174.334 337.645C176.599 333.788 181.023 329.452 181.959 325.167C183.388 318.623 179.958 319.741 173.763 317.799C161.859 314.067 150.649 309.067 139.054 304.728C135.171 303.275 128.514 306.089 125.288 303.384C122.304 300.882 156.765 284.783 158.991 283.172C165.772 278.262 170.905 271.418 175.892 264.801C180.005 259.344 181.893 252.884 185.764 247.339C188.04 244.079 191.596 240.907 193.122 237.231C194.31 234.369 205.122 225.874 206.5 223C212.764 209.935 217.031 205.192 224.5 192.5C235.382 208.5 231.003 198.912 232 202C234.962 211.17 232.903 204.341 238.432 212.307C244.97 221.726 248.036 232.218 253.868 241.955C260.999 253.86 268.803 263.778 279.044 273.231" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M502.312 513.75H438.188V685H502.312V513.75Z" fill="#9B756D" />
                <path d="M470.25 396.016C417.657 468.956 347.909 527.777 267.188 567.266C330.661 597.371 400.018 612.987 470.25 612.987C540.482 612.987 609.839 597.371 673.312 567.266C592.591 527.777 522.843 468.956 470.25 396.016V396.016Z" fill="#ADE195" />
                <path d="M470.25 267.578C409.973 339.075 366.795 387.774 277.875 438.828C402.287 483.268 538.213 483.268 662.625 438.828C566.438 383.814 518.985 325.375 470.25 267.578Z" fill="#ADE195" />
                <path d="M470.25 171.25C438.264 226.531 394.469 274.045 342 310.391C382.638 327.348 426.226 336.078 470.25 336.078C514.274 336.078 557.862 327.348 598.5 310.391C546.033 274.042 502.239 226.529 470.25 171.25V171.25Z" fill="#ADE195" />
                <g filter="url(#filter1_d_71_837)">
                    <path d="M366.898 589.247C381.195 591.067 423.656 598.667 438.029 598.511C458.588 598.288 475.713 600.416 496.217 598.511C511.777 597.066 529.298 596.72 544.615 593.247C557.666 590.287 570.127 589.866 582.783 585.612C602.571 578.959 622.691 572.525 641.049 562.491C643.765 561.007 640.534 560.721 638.772 560.071C629.864 556.783 620.828 553.555 612.061 549.919C592.46 541.791 572.045 533.178 556.295 518.474C545.309 508.218 535.047 496.122 528.423 482.559C524.781 475.102 518.127 467.439 516.935 458.994C515.651 449.895 546.407 449.709 554.263 449.429C571.428 448.818 589.292 445.53 606.154 442.092C611.824 440.936 618.097 436.49 623.402 435.987C630.484 435.316 615.95 428.529 613.599 427.308C601.675 421.114 593.386 411.737 582.003 404.702C568.722 396.494 555.419 384.434 544.615 373.274C534.649 362.979 524.843 352.287 517.564 339.892C515.298 336.034 510.875 331.699 509.939 327.413C508.51 320.87 511.94 321.988 518.135 320.045C530.038 316.313 541.248 311.314 552.844 306.975C556.726 305.522 563.384 308.336 566.61 305.631C569.594 303.128 535.133 287.029 532.907 285.418C526.126 280.509 520.992 273.665 516.005 267.048C511.893 261.591 510.005 255.13 506.134 249.586C503.857 246.326 500.302 243.153 498.776 239.477C497.588 236.616 486.776 228.121 485.398 225.247C479.133 212.181 474.867 207.439 467.398 194.747C456.516 210.747 460.895 201.159 459.898 204.247C456.936 213.417 458.994 206.588 453.465 214.554C446.928 223.973 443.862 234.464 438.029 244.202C430.899 256.106 423.095 266.024 412.854 275.478" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M374.062 481.641H309.938V685H374.062V481.641Z" fill="#9B756D" />
                <path d="M342 363.906C278.688 434.704 202.526 492.817 117.562 535.156C188.487 565.584 264.842 581.273 342 581.273C419.158 581.273 495.513 565.584 566.438 535.156C481.485 492.8 405.326 434.689 342 363.906V363.906Z" fill="#66CC4E" />
                <path d="M342 235.469C275.738 299.687 226.361 350.42 128.25 406.719L147.381 412.498C274.337 450.604 409.663 450.604 536.619 412.498L555.75 406.719C453.898 348.173 399.392 291.446 342 235.469Z" fill="#66CC4E" />
                <path d="M342 117.734C307.266 188.375 261.951 240.927 192.375 278.281C289.128 312.91 394.872 312.91 491.625 278.281C421.943 240.82 376.521 188.054 342 117.734Z" fill="#66CC4E" />
                <g filter="url(#filter2_d_71_837)">
                    <path d="M341.153 143.435C339.761 150.743 340.052 162.674 336.418 169.214C334.204 173.2 331.362 179.003 329.813 183.185C327.522 189.37 322.131 194.654 318.531 200.254C314.297 206.84 309.015 212.4 303.508 217.908C291.358 230.057 281.588 243.253 267.265 253.332C257.573 260.152 246.608 266.283 235.582 270.694C229.705 273.044 235.04 273.806 238.621 275.545C249.04 280.606 260.438 282.857 271.181 287.061C274.278 288.273 277.24 289.864 280.359 290.978C285.55 292.832 292.247 292.223 296.961 294.719C297.234 294.864 283.534 316.117 281.703 318.511C275.644 326.435 270.458 334.666 263.29 341.835C256.02 349.105 247.747 355.336 239.674 361.71C230.073 369.289 221.03 376.756 210.329 382.871C205.023 385.902 199.41 391.387 193.785 393.334C189.886 394.684 185.376 396.577 181.744 398.595C180.035 399.545 177.819 399.195 175.956 399.94C174.527 400.512 171.398 399.354 170.345 400.408C169.695 401.058 172.024 401.184 172.917 401.401C177.172 402.439 181.341 403.737 185.543 404.967C206.471 411.095 227.557 417.354 249.027 421.218C257.55 422.752 266.149 422.105 274.747 423.322C283.959 424.627 293.263 425.427 302.572 425.427C305.951 425.427 306.319 424.809 304.268 428.057C296.559 440.263 285.237 448.883 273.227 456.525C267.197 460.363 260.405 462.606 254.288 466.521C249.819 469.381 246.762 473.024 242.772 476.401C236.773 481.476 229.644 488.883 222.487 491.95C218.735 493.558 215.48 497.149 211.732 499.023C207.185 501.296 202.336 503.167 198.053 505.921C193.55 508.816 188.261 511.661 184.374 515.332C180.564 518.931 174.568 523.765 169.526 525.445C165.487 526.792 161.695 528.484 157.601 529.654C153.683 530.774 157.815 530.648 159.822 530.648C171.705 530.648 184.359 535.274 195.948 537.779C202.746 539.249 209.813 539.824 216.408 542.222C229.367 546.934 240.945 555.735 254.989 557.012C274.571 558.792 293.48 560.11 313.153 560.11C318.026 560.11 344.073 564.793 346.414 560.11" stroke="white" stroke-width="8" stroke-linecap="round" />
                    <path d="M344.261 143C345.653 150.309 345.363 162.239 348.996 168.779C351.21 172.765 354.053 178.568 355.602 182.75C357.892 188.935 363.284 194.22 366.884 199.819C371.117 206.405 376.399 211.966 381.907 217.473C394.056 229.622 403.826 242.818 418.15 252.897C427.842 259.718 438.807 265.849 449.833 270.259C455.709 272.61 450.374 273.372 446.793 275.111C436.375 280.171 424.976 282.423 414.233 286.627C411.137 287.838 408.175 289.429 405.055 290.543C399.864 292.397 393.168 291.789 388.454 294.284C388.18 294.429 401.88 315.682 403.711 318.076C409.77 326 414.956 334.232 422.125 341.4C429.395 348.67 437.667 354.901 445.741 361.275C455.342 368.855 464.384 376.321 475.086 382.436C480.391 385.468 486.004 390.953 491.629 392.9C495.529 394.25 500.038 396.143 503.671 398.161C505.38 399.11 507.596 398.76 509.458 399.505C510.887 400.077 514.016 398.919 515.07 399.973C515.72 400.623 513.391 400.749 512.498 400.967C508.243 402.005 504.073 403.302 499.871 404.533C478.943 410.661 457.857 416.919 436.388 420.783C427.865 422.318 419.265 421.67 410.667 422.888C401.455 424.192 392.152 424.992 382.842 424.992C379.463 424.992 379.095 424.374 381.147 427.623C388.856 439.828 400.177 448.448 412.187 456.091C418.218 459.929 425.01 462.172 431.127 466.087C435.595 468.946 438.652 472.59 442.643 475.966C448.641 481.041 455.771 488.448 462.927 491.515C466.68 493.124 469.935 496.714 473.683 498.589C478.229 500.862 483.078 502.733 487.362 505.486C491.865 508.381 497.153 511.227 501.04 514.898C504.851 518.496 510.846 523.33 515.888 525.011C519.928 526.357 523.719 528.05 527.813 529.22C531.731 530.339 527.599 530.213 525.592 530.213C513.709 530.213 501.056 534.839 489.466 537.345C482.668 538.815 475.602 539.389 469.006 541.788C456.048 546.5 444.47 555.3 430.425 556.577C410.843 558.357 391.934 559.675 372.262 559.675C367.388 559.675 341.342 564.358 339 559.675" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter3_d_71_837)">
                    <path d="M206 621C206 636.565 206 652.129 206 667.694C206 673.858 209.153 671.939 214.009 671.939C221.082 671.939 228.402 673 235.282 673C238.568 673 242.842 672.705 245.994 671.88C246.054 671.864 245.644 662.66 245.644 661.268C245.644 648.926 245.644 636.51 245.644 624.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter4_d_71_837)">
                    <path d="M453 622C453 637.565 453 653.129 453 668.694C453 674.858 456.074 672.939 460.809 672.939C467.705 672.939 474.842 674 481.55 674C484.754 674 488.921 673.705 491.994 672.88C492.053 672.864 491.652 663.66 491.652 662.268C491.652 649.926 491.652 637.51 491.652 625.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter5_d_71_837)">
                    <path d="M365 587C365 613.041 365 639.082 365 665.122C365 675.435 361.768 672.224 356.791 672.224C349.541 672.224 342.037 674 334.986 674C331.618 674 327.237 673.506 324.006 672.126C323.944 672.099 324.365 656.7 324.365 654.371C324.365 633.722 324.365 612.949 324.365 592.327" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <defs>
                    <filter id="filter0_d_71_837" x="42.8011" y="185.028" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter1_d_71_837" x="359.897" y="187.275" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter2_d_71_837" x="148.969" y="138.999" width="384.476" height="430.192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter3_d_71_837" x="199" y="617" width="51" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter4_d_71_837" x="446" y="618" width="50" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter5_d_71_837" x="317" y="583" width="52" height="98" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <linearGradient id="paint0_linear_71_837" x1="5585.29" y1="10391.9" x2="10245.7" y2="3396.32" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_71_837" x1="5303.14" y1="9692.56" x2="9689.33" y2="3077.34" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_71_837" x1="3610.24" y1="7764.88" x2="7354.5" y2="3092.24" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                </defs>
            </svg>
        </div>