@page "/"
@using ThankmasCalendar.Pages.House
<PageTitle>ThankmasCalendar</PageTitle>

<h1>Thankmas Calendar</h1>
<p>Placeholder for explaining this calendar.</p>

<div class="sky">
    @*<div class="snow-fall"></div>*@
    <div class="house-position">
        <div class="house-wrapper">
            <div class="roof">
                <svg width="100%" height="142" viewBox="0 0 1088 142" preserveAspectRatio="none">
                    <path d="M550 0L1017.5 58.2947L1088 142H12L80 58.2947L550 0Z" fill="#67430D" />
                    <path d="M36.5 112C229.5 72.2202 259.5 112 413.5 98.5C567.5 85 583 71.1743 791 73.5C999 75.8258 1055.5 98.5 1055.5 98.5L1088 142H0L36.5 112Z" fill="white" />
                </svg>
            </div>
            <div class="house">
                <div class="house-icing-top">
                    <svg width="100%" height="71" viewBox="0 0 994 71" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g filter="url(#filter0_d_28_2538)">
                            <path d="M989.831 4.88384C970.859 17.1947 946.168 32.7286 961.203 58.2501C964.135 63.2253 980.33 59.2116 980.194 52.5828C979.796 33.1564 969.116 21.6901 950.816 17.559C924.363 11.5875 889.975 1.15137 890.776 40.2615C891.26 63.8493 913.596 48.5737 906.53 37.7794C900.076 27.9202 891.908 20.36 880.622 16.719C872.084 13.9644 862.702 13.614 853.88 12.4691C848.048 11.7123 837.84 9.01588 832.379 10.7508C811.041 17.5296 804.159 45.5417 823.675 57.9508C832.436 63.5212 836.414 53.5827 838.289 45.8958C842.064 30.4197 829.486 23.3648 817.186 17.5397C793.137 6.15053 753.411 6.08997 737.22 29.0153C726.741 43.8519 748.005 58.1531 752.799 41.051C760.954 11.9583 714.497 6.22984 695.92 16.5472C681.55 24.528 674.293 46.3565 685.246 59.7092C693.123 69.3118 700.392 44.2356 698.597 37.8439C694.828 24.4174 679.786 19.5116 667.407 17.9714C648.034 15.5611 630.143 16.1827 611.614 23.4335C600.151 27.9192 587.024 32.1447 587.298 45.5236C587.73 66.5798 616.237 59.8758 610.116 42.4168C605.881 30.338 582.083 24.2035 571.004 21.6271C558.491 18.7172 540.214 19.7789 533.489 32.7122C531.297 36.9283 530.533 46.3016 532.684 50.9616C534.385 54.6469 541.248 61.7336 544.562 55.0363C558.993 25.868 483.481 18.0525 471.971 17.7797C460.572 17.5096 430.281 18.7588 427.739 34.8802C426.699 41.473 423.648 48.5693 428.252 54.1821C432.245 59.0488 449.057 57.9268 454.725 56.7582C469.362 53.74 451.118 31.5585 447.066 28.3664C434.302 18.3127 415.725 13.2382 399.913 18.0575C393.068 20.1436 380.451 31.3282 376.966 37.8404C375.153 41.2279 370.111 49.6835 373.518 53.7449C379.718 61.1368 385.296 58.7528 387.385 51.3014C394.946 24.3254 331.217 19.9691 316.319 25.1691C304.746 29.2089 296.224 34.4937 296.494 47.6469C296.654 55.4562 296.719 62.7193 306.878 59.4294C315.23 56.7247 315.946 49.4739 309.609 43.0598C294.229 27.4895 273.717 19.9094 252.052 20.0092C235.455 20.0857 193.018 31.3937 210.689 56.2434C222.854 73.3494 254.111 54.9602 239.932 38.6105C224.8 21.1635 195.352 11.6404 173.722 7.70057C163.715 5.87798 157.578 7.01325 149.05 12.4047C139.98 18.1388 128.943 19.8946 120.078 25.9536C116.763 28.2188 115.897 48.8523 119.408 50.7976C125.504 54.1755 138.828 58.2275 142.515 50.3239C146.227 42.3646 144.332 26.1669 137.887 20.1906C123.806 7.13345 97.8142 10.2164 80.6052 10.5692C74.8878 10.6864 70.4341 13.8192 65.8833 17.3485C63.4805 19.212 64.6996 23.4586 62.5235 26.054C59.6564 29.4734 58.4058 44.8258 62.9561 47.1568C78.0071 54.8671 78.2963 26.6073 65.7164 20.7106C45.4583 11.2147 28.6198 11.635 7.03957 12.0774" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges"/>
                        </g>
                        <defs>
                            <filter id="filter0_d_28_2538" x="0.0395813" y="0.883362" width="993.792" height="69.1958" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="-3" dy="3"/>
                                <feComposite in2="hardAlpha" operator="out"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0"/>
                                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_28_2538"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_28_2538" result="shape"/>
                            </filter>
                        </defs>
                    </svg>
                </div>
                <div class="house-flex">
                    <HouseIcingSides/>
                    <div class="house-grid">
                        <div class="window-1 grid-box">
                            <WindowLandscape/>
                        </div>
                        <div class="window-2 grid-box">
                            <WindowOval/>
                        </div>
                        <div class="window-3 grid-box">
                            <WindowLandscape ShowCoco="true"/>
                        </div>
                        <div class="window-4 grid-box">
                            <svg width="233" height="173" viewBox="0 0 233 173" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_18_840)">
                                    <path d="M100.018 170.42C154.054 170.836 198.148 133.658 198.505 87.3797C198.862 41.1014 155.346 3.24765 101.31 2.83106C47.2741 2.41447 3.18004 39.5928 2.82326 85.8711C2.46648 132.15 45.9821 170.003 100.018 170.42Z" fill="#5F79D8" />
                                    <path d="M182.513 81.85L107.018 81.268L107.516 16.6112C108.81 16.7023 110.103 16.8204 111.364 16.9652C113.256 17.1961 115.117 17.4537 116.976 17.7924C119.12 18.1604 121.231 18.6092 123.279 19.1386C125.389 19.6414 127.499 20.2524 129.515 20.8897C129.546 20.9169 129.546 20.9169 129.578 20.9172C131.687 21.6092 133.764 22.3551 135.778 23.2086C135.809 23.2089 135.841 23.2361 135.872 23.2364C138.012 24.0909 140.119 25.0532 142.163 26.0692C144.333 27.1672 146.438 28.3458 148.449 29.6048C150.633 30.9448 152.729 32.3868 154.728 33.9243C156.934 35.5664 159.028 37.3154 161 39.1628C161.658 39.7625 162.316 40.3894 162.974 41.0432C164.478 42.5416 165.918 44.1205 167.262 45.7528C167.825 46.4329 168.419 47.1404 168.95 47.8473C176.877 57.972 181.554 69.6996 182.513 81.85Z" fill="#EDEEED" />
                                    <path d="M94.8917 16.5139L94.3932 81.1707L18.898 80.5887C19.8191 71.0319 23.028 61.7445 28.3249 53.3049C30.2084 50.3193 32.3402 47.454 34.7036 44.7309C36.6502 42.4454 38.776 40.2762 41.0664 38.2382C43.0668 36.4214 45.1878 34.7049 47.4187 33.097C49.4412 31.5905 51.5595 30.181 53.7639 28.8748C55.7935 27.647 57.9171 26.501 60.1031 25.4366C62.1623 24.4522 64.2843 23.5225 66.4369 22.7011C68.4949 21.879 70.6153 21.1384 72.7667 20.4792C74.8232 19.8463 76.9424 19.2679 79.0924 18.7979C81.1478 18.3001 83.2658 17.884 85.4147 17.5491C88.5454 17.0377 91.7104 16.6919 94.8917 16.5139Z" fill="#EDEEED" />
                                    <path d="M94.3099 91.9829L93.8114 156.64C90.6332 156.413 87.474 156.018 84.3515 155.458C82.208 155.091 80.0967 154.642 78.0492 154.112C75.9067 153.609 73.7967 152.998 71.7502 152.334C69.6092 151.641 67.5004 150.868 65.4554 150.014C63.3157 149.16 61.2083 148.198 59.1646 147.182C57.4982 146.331 55.8953 145.453 54.3245 144.495C53.8216 144.221 53.3503 143.947 52.8791 143.646C50.6951 142.306 48.5988 140.864 46.5997 139.327C46.5684 139.299 46.5055 139.272 46.4741 139.245C44.3099 137.63 42.2575 135.908 40.3274 134.088C38.0687 132.015 35.9766 129.813 34.0656 127.498C31.7444 124.739 29.657 121.841 27.8197 118.827C27.1962 117.822 26.6045 116.79 26.0443 115.758C25.1112 113.967 24.2414 112.149 23.4983 110.278C20.9186 104.201 19.3422 97.8473 18.8146 91.4008L94.3099 91.9829Z" fill="#EDEEED" />
                                    <path d="M182.43 92.6622C181.509 102.219 178.3 111.506 173.003 119.946C171.119 122.932 168.988 125.797 166.624 128.52C164.678 130.805 162.552 132.975 160.261 135.013C158.261 136.829 156.14 138.546 153.909 140.154C151.887 141.66 149.768 143.07 147.564 144.376C145.534 145.604 143.411 146.75 141.225 147.814C139.165 148.799 137.043 149.728 134.891 150.55C132.833 151.372 130.712 152.112 128.561 152.772C126.504 153.405 124.385 153.983 122.235 154.453C120.18 154.951 118.062 155.367 115.913 155.702C112.782 156.213 109.617 156.559 106.436 156.737L106.934 92.0802L182.43 92.6622Z" fill="#EDEEED" />
                                    <path d="M111.364 16.9652L107.488 20.2333L107.516 16.6112C108.81 16.7023 110.103 16.8204 111.364 16.9652Z" fill="white" />
                                    <path opacity="0.1" d="M134.861 154.469C114.815 154.317 95.293 148.895 78.9365 138.935C62.58 128.976 50.1785 114.961 43.4103 98.7872C36.6422 82.613 35.834 65.0604 41.0952 48.5046C46.3564 31.9489 57.433 17.1892 72.8261 6.22295C58.8977 9.73152 46.0637 15.8544 35.2561 24.1471C24.4485 32.4397 15.9385 42.694 10.344 54.1654C4.74956 65.6367 2.211 78.0373 2.91267 90.4666C3.61434 102.896 7.53864 115.042 14.4006 126.023C21.2626 137.004 30.8901 146.545 42.584 153.952C54.2779 161.359 67.7447 166.446 82.0067 168.846C96.2686 171.245 110.968 170.895 125.037 167.821C139.106 164.748 152.192 159.028 163.344 151.077C154.1 153.404 144.502 154.547 134.861 154.469Z" fill="black" />
                                </g>
                                <g filter="url(#filter0_d_18_840)">
                                    <path d="M220.295 150C220.295 141.824 220.6 133.701 221.042 125.536C221.094 124.577 220.914 112.842 220.295 113.002C215.09 114.342 210.241 119.538 207.281 122.265C204.669 124.672 201.816 127.909 198.532 129.961C197.683 130.493 197.335 131.144 196.554 131.693C194.849 132.892 197.52 132.204 198.664 132.188C204.181 132.111 209.663 131.693 215.151 131.693C219.767 131.693 224.384 131.693 229 131.693" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                                </g>
                                <defs>
                                    <filter id="filter0_d_18_840" x="188.999" y="108.996" width="44.0009" height="48.0041" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                                        <feOffset dx="-3" dy="3" />
                                        <feComposite in2="hardAlpha" operator="out" />
                                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_18_840" />
                                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_18_840" result="shape" />
                                    </filter>
                                    <clipPath id="clip0_18_840">
                                        <rect width="198.297" height="170.514" fill="white" transform="translate(2.01172 0.481323) rotate(0.441708)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <div class="window-5 grid-box">
                            <WindowSquare/>
                        </div>
                        <div class="window-6 grid-box">
                            <WindowSquare ShowDecorations="true"/>
                        </div>
                        <div class="window-7 grid-box">
                            <WindowCircle ShowDecoration="true"/>
                        </div>
                        <div class="window-8 grid-box">
                            <WindowPortrait/>
                        </div>
                        <div class="window-9 grid-box">
                            <WindowPortrait ShowDecorations="true"/>
                        </div>
                        <div class="door-10 grid-box">
                            <Door/>
                        </div>
                    </div>
                    <div class="house-icing-sides">
                        <svg width="22" height="829" viewBox="0 0 22 829" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g filter="url(#filter0_d_16_2432)">
                                <path d="M13.5601 5C13.4524 31.9817 9.54645 56.7541 9.89855 83.3669C10.0115 91.9009 12.2859 96.6221 12.8481 104.716C13.4651 113.598 15.3908 118.039 15.3908 127.997C15.3908 138.25 15.4162 148.162 15.0247 158.307C14.5434 170.779 12.6949 176.873 11.2818 186.86C10.2585 194.092 8.72744 199.992 8.27121 209C7.6997 220.284 8.04697 231.146 9.16625 241.419C10.0935 249.929 10.7664 258.963 11.7293 267.512C12.8406 277.377 14.2907 286.526 14.6585 297.646C14.9578 306.693 14.9574 314.67 16.4079 321.63C17.2841 325.835 17.0225 335.905 16.6724 341.047C16.2042 347.921 16.1715 354.019 15.4722 360.814C14.9225 366.156 14.5668 373.271 14.272 379C14.1496 381.38 13.1803 383.985 12.8278 386.116C12.0721 390.686 11.1751 395.201 10.5088 399.997C9.34148 408.4 9.10235 422.313 9.61377 431.977C10.7772 453.961 14.0853 474.215 15.6756 495.584C17.136 515.207 11.5744 529.062 10.102 544.607C9.22617 553.853 8.45642 563.292 8.82044 573.512C8.97353 577.809 9.71548 582.121 10.0816 586.163C10.6733 592.693 10.6465 599.293 10.997 606.106C12.1546 628.605 13.7786 650.157 12.8074 673.227C12.1437 688.994 8.43395 698.79 8.43395 715.837C8.43395 723.692 9.106 731.717 9.61377 739.119C9.98496 744.529 10.1847 750.48 10.8139 755.372C12.0112 764.68 12.5096 777.446 13.1939 787.791C13.6519 794.714 14.2924 799.408 14.2924 806.767C14.2924 811.512 14.2924 816.256 14.2924 821" stroke="white" stroke-width="9" stroke-linecap="round"/>
                            </g>
                            <defs>
                                <filter id="filter0_d_16_2432" x="0.5" y="0.5" width="21" height="828" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                    <feOffset dx="-3" dy="3"/>
                                    <feComposite in2="hardAlpha" operator="out"/>
                                    <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0"/>
                                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_16_2432"/>
                                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_16_2432" result="shape"/>
                                </filter>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="snow">
        <svg width="100%" fill="none" height="100px" viewBox="0 0 500 100" preserveAspectRatio="none">
            <path d="M0 15.9999C0 15.9999 7.5 21.4999 71.5 23.4999C135.5 25.4999 253.5 12 356 3.00001C458.5 -5.99999 730 13.9999 801 15.9999C872 17.9999 1060 30 1178 31C1296 32 1440 15.9999 1440 15.9999V101H0V15.9999Z" fill="white" />
        </svg>
    </div>
    <div class="forest-wrapper">
        <div class="forest-1">
            <svg width="684" height="685" viewBox="0 0 684 685" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M256.5 513.75H192.375V685H256.5V513.75Z" fill="#9B756D" />
                <path d="M224.438 396.016C171.845 468.956 102.097 527.777 21.375 567.266C84.8488 597.371 154.205 612.987 224.438 612.987C294.67 612.987 364.026 597.371 427.5 567.266C346.778 527.777 277.03 468.956 224.438 396.016V396.016Z" fill="url(#paint0_linear_71_837)" />
                <path d="M224.438 267.578C164.16 339.075 120.982 387.774 32.0625 438.828C156.474 483.268 292.401 483.268 416.812 438.828C320.625 383.814 273.172 325.375 224.438 267.578Z" fill="url(#paint1_linear_71_837)" />
                <path d="M224.438 171.25C192.452 226.531 148.656 274.045 96.1875 310.391C136.825 327.348 180.413 336.078 224.438 336.078C268.462 336.078 312.05 327.348 352.688 310.391C300.221 274.042 256.426 226.529 224.438 171.25V171.25Z" fill="url(#paint2_linear_71_837)" />
                <g filter="url(#filter0_d_71_837)">
                    <path d="M325 587C310.703 588.82 268.241 596.42 253.868 596.265C233.31 596.042 216.185 598.169 195.681 596.265C180.121 594.819 162.599 594.474 147.283 591C134.231 588.04 121.771 587.62 109.115 583.365C89.327 576.713 69.207 570.279 50.8487 560.245C48.1325 558.76 51.3636 558.475 53.1256 557.824C62.0342 554.536 71.0697 551.308 79.8367 547.673C99.4376 539.545 119.853 530.931 135.603 516.228C146.589 505.971 156.85 493.876 163.474 480.312C167.117 472.855 173.771 465.193 174.963 456.747C176.247 447.648 145.491 447.462 137.635 447.183C120.47 446.572 102.606 443.283 85.744 439.845C80.0742 438.689 73.8004 434.243 68.4962 433.741C61.4139 433.07 75.9476 426.282 78.2984 425.061C90.2232 418.867 98.5114 409.491 109.895 402.455C123.176 394.248 136.479 382.188 147.283 371.027C157.249 360.732 167.055 350.041 174.334 337.645C176.599 333.788 181.023 329.452 181.959 325.167C183.388 318.623 179.958 319.741 173.763 317.799C161.859 314.067 150.649 309.067 139.054 304.728C135.171 303.275 128.514 306.089 125.288 303.384C122.304 300.882 156.765 284.783 158.991 283.172C165.772 278.262 170.905 271.418 175.892 264.801C180.005 259.344 181.893 252.884 185.764 247.339C188.04 244.079 191.596 240.907 193.122 237.231C194.31 234.369 205.122 225.874 206.5 223C212.764 209.935 217.031 205.192 224.5 192.5C235.382 208.5 231.003 198.912 232 202C234.962 211.17 232.903 204.341 238.432 212.307C244.97 221.726 248.036 232.218 253.868 241.955C260.999 253.86 268.803 263.778 279.044 273.231" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M502.312 513.75H438.188V685H502.312V513.75Z" fill="#9B756D" />
                <path d="M470.25 396.016C417.657 468.956 347.909 527.777 267.188 567.266C330.661 597.371 400.018 612.987 470.25 612.987C540.482 612.987 609.839 597.371 673.312 567.266C592.591 527.777 522.843 468.956 470.25 396.016V396.016Z" fill="#ADE195" />
                <path d="M470.25 267.578C409.973 339.075 366.795 387.774 277.875 438.828C402.287 483.268 538.213 483.268 662.625 438.828C566.438 383.814 518.985 325.375 470.25 267.578Z" fill="#ADE195" />
                <path d="M470.25 171.25C438.264 226.531 394.469 274.045 342 310.391C382.638 327.348 426.226 336.078 470.25 336.078C514.274 336.078 557.862 327.348 598.5 310.391C546.033 274.042 502.239 226.529 470.25 171.25V171.25Z" fill="#ADE195" />
                <g filter="url(#filter1_d_71_837)">
                    <path d="M366.898 589.247C381.195 591.067 423.656 598.667 438.029 598.511C458.588 598.288 475.713 600.416 496.217 598.511C511.777 597.066 529.298 596.72 544.615 593.247C557.666 590.287 570.127 589.866 582.783 585.612C602.571 578.959 622.691 572.525 641.049 562.491C643.765 561.007 640.534 560.721 638.772 560.071C629.864 556.783 620.828 553.555 612.061 549.919C592.46 541.791 572.045 533.178 556.295 518.474C545.309 508.218 535.047 496.122 528.423 482.559C524.781 475.102 518.127 467.439 516.935 458.994C515.651 449.895 546.407 449.709 554.263 449.429C571.428 448.818 589.292 445.53 606.154 442.092C611.824 440.936 618.097 436.49 623.402 435.987C630.484 435.316 615.95 428.529 613.599 427.308C601.675 421.114 593.386 411.737 582.003 404.702C568.722 396.494 555.419 384.434 544.615 373.274C534.649 362.979 524.843 352.287 517.564 339.892C515.298 336.034 510.875 331.699 509.939 327.413C508.51 320.87 511.94 321.988 518.135 320.045C530.038 316.313 541.248 311.314 552.844 306.975C556.726 305.522 563.384 308.336 566.61 305.631C569.594 303.128 535.133 287.029 532.907 285.418C526.126 280.509 520.992 273.665 516.005 267.048C511.893 261.591 510.005 255.13 506.134 249.586C503.857 246.326 500.302 243.153 498.776 239.477C497.588 236.616 486.776 228.121 485.398 225.247C479.133 212.181 474.867 207.439 467.398 194.747C456.516 210.747 460.895 201.159 459.898 204.247C456.936 213.417 458.994 206.588 453.465 214.554C446.928 223.973 443.862 234.464 438.029 244.202C430.899 256.106 423.095 266.024 412.854 275.478" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M374.062 481.641H309.938V685H374.062V481.641Z" fill="#9B756D" />
                <path d="M342 363.906C278.688 434.704 202.526 492.817 117.562 535.156C188.487 565.584 264.842 581.273 342 581.273C419.158 581.273 495.513 565.584 566.438 535.156C481.485 492.8 405.326 434.689 342 363.906V363.906Z" fill="#66CC4E" />
                <path d="M342 235.469C275.738 299.687 226.361 350.42 128.25 406.719L147.381 412.498C274.337 450.604 409.663 450.604 536.619 412.498L555.75 406.719C453.898 348.173 399.392 291.446 342 235.469Z" fill="#66CC4E" />
                <path d="M342 117.734C307.266 188.375 261.951 240.927 192.375 278.281C289.128 312.91 394.872 312.91 491.625 278.281C421.943 240.82 376.521 188.054 342 117.734Z" fill="#66CC4E" />
                <g filter="url(#filter2_d_71_837)">
                    <path d="M341.153 143.435C339.761 150.743 340.052 162.674 336.418 169.214C334.204 173.2 331.362 179.003 329.813 183.185C327.522 189.37 322.131 194.654 318.531 200.254C314.297 206.84 309.015 212.4 303.508 217.908C291.358 230.057 281.588 243.253 267.265 253.332C257.573 260.152 246.608 266.283 235.582 270.694C229.705 273.044 235.04 273.806 238.621 275.545C249.04 280.606 260.438 282.857 271.181 287.061C274.278 288.273 277.24 289.864 280.359 290.978C285.55 292.832 292.247 292.223 296.961 294.719C297.234 294.864 283.534 316.117 281.703 318.511C275.644 326.435 270.458 334.666 263.29 341.835C256.02 349.105 247.747 355.336 239.674 361.71C230.073 369.289 221.03 376.756 210.329 382.871C205.023 385.902 199.41 391.387 193.785 393.334C189.886 394.684 185.376 396.577 181.744 398.595C180.035 399.545 177.819 399.195 175.956 399.94C174.527 400.512 171.398 399.354 170.345 400.408C169.695 401.058 172.024 401.184 172.917 401.401C177.172 402.439 181.341 403.737 185.543 404.967C206.471 411.095 227.557 417.354 249.027 421.218C257.55 422.752 266.149 422.105 274.747 423.322C283.959 424.627 293.263 425.427 302.572 425.427C305.951 425.427 306.319 424.809 304.268 428.057C296.559 440.263 285.237 448.883 273.227 456.525C267.197 460.363 260.405 462.606 254.288 466.521C249.819 469.381 246.762 473.024 242.772 476.401C236.773 481.476 229.644 488.883 222.487 491.95C218.735 493.558 215.48 497.149 211.732 499.023C207.185 501.296 202.336 503.167 198.053 505.921C193.55 508.816 188.261 511.661 184.374 515.332C180.564 518.931 174.568 523.765 169.526 525.445C165.487 526.792 161.695 528.484 157.601 529.654C153.683 530.774 157.815 530.648 159.822 530.648C171.705 530.648 184.359 535.274 195.948 537.779C202.746 539.249 209.813 539.824 216.408 542.222C229.367 546.934 240.945 555.735 254.989 557.012C274.571 558.792 293.48 560.11 313.153 560.11C318.026 560.11 344.073 564.793 346.414 560.11" stroke="white" stroke-width="8" stroke-linecap="round" />
                    <path d="M344.261 143C345.653 150.309 345.363 162.239 348.996 168.779C351.21 172.765 354.053 178.568 355.602 182.75C357.892 188.935 363.284 194.22 366.884 199.819C371.117 206.405 376.399 211.966 381.907 217.473C394.056 229.622 403.826 242.818 418.15 252.897C427.842 259.718 438.807 265.849 449.833 270.259C455.709 272.61 450.374 273.372 446.793 275.111C436.375 280.171 424.976 282.423 414.233 286.627C411.137 287.838 408.175 289.429 405.055 290.543C399.864 292.397 393.168 291.789 388.454 294.284C388.18 294.429 401.88 315.682 403.711 318.076C409.77 326 414.956 334.232 422.125 341.4C429.395 348.67 437.667 354.901 445.741 361.275C455.342 368.855 464.384 376.321 475.086 382.436C480.391 385.468 486.004 390.953 491.629 392.9C495.529 394.25 500.038 396.143 503.671 398.161C505.38 399.11 507.596 398.76 509.458 399.505C510.887 400.077 514.016 398.919 515.07 399.973C515.72 400.623 513.391 400.749 512.498 400.967C508.243 402.005 504.073 403.302 499.871 404.533C478.943 410.661 457.857 416.919 436.388 420.783C427.865 422.318 419.265 421.67 410.667 422.888C401.455 424.192 392.152 424.992 382.842 424.992C379.463 424.992 379.095 424.374 381.147 427.623C388.856 439.828 400.177 448.448 412.187 456.091C418.218 459.929 425.01 462.172 431.127 466.087C435.595 468.946 438.652 472.59 442.643 475.966C448.641 481.041 455.771 488.448 462.927 491.515C466.68 493.124 469.935 496.714 473.683 498.589C478.229 500.862 483.078 502.733 487.362 505.486C491.865 508.381 497.153 511.227 501.04 514.898C504.851 518.496 510.846 523.33 515.888 525.011C519.928 526.357 523.719 528.05 527.813 529.22C531.731 530.339 527.599 530.213 525.592 530.213C513.709 530.213 501.056 534.839 489.466 537.345C482.668 538.815 475.602 539.389 469.006 541.788C456.048 546.5 444.47 555.3 430.425 556.577C410.843 558.357 391.934 559.675 372.262 559.675C367.388 559.675 341.342 564.358 339 559.675" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter3_d_71_837)">
                    <path d="M206 621C206 636.565 206 652.129 206 667.694C206 673.858 209.153 671.939 214.009 671.939C221.082 671.939 228.402 673 235.282 673C238.568 673 242.842 672.705 245.994 671.88C246.054 671.864 245.644 662.66 245.644 661.268C245.644 648.926 245.644 636.51 245.644 624.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter4_d_71_837)">
                    <path d="M453 622C453 637.565 453 653.129 453 668.694C453 674.858 456.074 672.939 460.809 672.939C467.705 672.939 474.842 674 481.55 674C484.754 674 488.921 673.705 491.994 672.88C492.053 672.864 491.652 663.66 491.652 662.268C491.652 649.926 491.652 637.51 491.652 625.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter5_d_71_837)">
                    <path d="M365 587C365 613.041 365 639.082 365 665.122C365 675.435 361.768 672.224 356.791 672.224C349.541 672.224 342.037 674 334.986 674C331.618 674 327.237 673.506 324.006 672.126C323.944 672.099 324.365 656.7 324.365 654.371C324.365 633.722 324.365 612.949 324.365 592.327" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <defs>
                    <filter id="filter0_d_71_837" x="42.8011" y="185.028" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter1_d_71_837" x="359.897" y="187.275" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter2_d_71_837" x="148.969" y="138.999" width="384.476" height="430.192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter3_d_71_837" x="199" y="617" width="51" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter4_d_71_837" x="446" y="618" width="50" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter5_d_71_837" x="317" y="583" width="52" height="98" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <linearGradient id="paint0_linear_71_837" x1="5585.29" y1="10391.9" x2="10245.7" y2="3396.32" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_71_837" x1="5303.14" y1="9692.56" x2="9689.33" y2="3077.34" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_71_837" x1="3610.24" y1="7764.88" x2="7354.5" y2="3092.24" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
        <div class="forest-2">
            <svg width="684" height="685" viewBox="0 0 684 685" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M256.5 513.75H192.375V685H256.5V513.75Z" fill="#9B756D" />
                <path d="M224.438 396.016C171.845 468.956 102.097 527.777 21.375 567.266C84.8488 597.371 154.205 612.987 224.438 612.987C294.67 612.987 364.026 597.371 427.5 567.266C346.778 527.777 277.03 468.956 224.438 396.016V396.016Z" fill="url(#paint0_linear_71_837)" />
                <path d="M224.438 267.578C164.16 339.075 120.982 387.774 32.0625 438.828C156.474 483.268 292.401 483.268 416.812 438.828C320.625 383.814 273.172 325.375 224.438 267.578Z" fill="url(#paint1_linear_71_837)" />
                <path d="M224.438 171.25C192.452 226.531 148.656 274.045 96.1875 310.391C136.825 327.348 180.413 336.078 224.438 336.078C268.462 336.078 312.05 327.348 352.688 310.391C300.221 274.042 256.426 226.529 224.438 171.25V171.25Z" fill="url(#paint2_linear_71_837)" />
                <g filter="url(#filter0_d_71_837)">
                    <path d="M325 587C310.703 588.82 268.241 596.42 253.868 596.265C233.31 596.042 216.185 598.169 195.681 596.265C180.121 594.819 162.599 594.474 147.283 591C134.231 588.04 121.771 587.62 109.115 583.365C89.327 576.713 69.207 570.279 50.8487 560.245C48.1325 558.76 51.3636 558.475 53.1256 557.824C62.0342 554.536 71.0697 551.308 79.8367 547.673C99.4376 539.545 119.853 530.931 135.603 516.228C146.589 505.971 156.85 493.876 163.474 480.312C167.117 472.855 173.771 465.193 174.963 456.747C176.247 447.648 145.491 447.462 137.635 447.183C120.47 446.572 102.606 443.283 85.744 439.845C80.0742 438.689 73.8004 434.243 68.4962 433.741C61.4139 433.07 75.9476 426.282 78.2984 425.061C90.2232 418.867 98.5114 409.491 109.895 402.455C123.176 394.248 136.479 382.188 147.283 371.027C157.249 360.732 167.055 350.041 174.334 337.645C176.599 333.788 181.023 329.452 181.959 325.167C183.388 318.623 179.958 319.741 173.763 317.799C161.859 314.067 150.649 309.067 139.054 304.728C135.171 303.275 128.514 306.089 125.288 303.384C122.304 300.882 156.765 284.783 158.991 283.172C165.772 278.262 170.905 271.418 175.892 264.801C180.005 259.344 181.893 252.884 185.764 247.339C188.04 244.079 191.596 240.907 193.122 237.231C194.31 234.369 205.122 225.874 206.5 223C212.764 209.935 217.031 205.192 224.5 192.5C235.382 208.5 231.003 198.912 232 202C234.962 211.17 232.903 204.341 238.432 212.307C244.97 221.726 248.036 232.218 253.868 241.955C260.999 253.86 268.803 263.778 279.044 273.231" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M502.312 513.75H438.188V685H502.312V513.75Z" fill="#9B756D" />
                <path d="M470.25 396.016C417.657 468.956 347.909 527.777 267.188 567.266C330.661 597.371 400.018 612.987 470.25 612.987C540.482 612.987 609.839 597.371 673.312 567.266C592.591 527.777 522.843 468.956 470.25 396.016V396.016Z" fill="#ADE195" />
                <path d="M470.25 267.578C409.973 339.075 366.795 387.774 277.875 438.828C402.287 483.268 538.213 483.268 662.625 438.828C566.438 383.814 518.985 325.375 470.25 267.578Z" fill="#ADE195" />
                <path d="M470.25 171.25C438.264 226.531 394.469 274.045 342 310.391C382.638 327.348 426.226 336.078 470.25 336.078C514.274 336.078 557.862 327.348 598.5 310.391C546.033 274.042 502.239 226.529 470.25 171.25V171.25Z" fill="#ADE195" />
                <g filter="url(#filter1_d_71_837)">
                    <path d="M366.898 589.247C381.195 591.067 423.656 598.667 438.029 598.511C458.588 598.288 475.713 600.416 496.217 598.511C511.777 597.066 529.298 596.72 544.615 593.247C557.666 590.287 570.127 589.866 582.783 585.612C602.571 578.959 622.691 572.525 641.049 562.491C643.765 561.007 640.534 560.721 638.772 560.071C629.864 556.783 620.828 553.555 612.061 549.919C592.46 541.791 572.045 533.178 556.295 518.474C545.309 508.218 535.047 496.122 528.423 482.559C524.781 475.102 518.127 467.439 516.935 458.994C515.651 449.895 546.407 449.709 554.263 449.429C571.428 448.818 589.292 445.53 606.154 442.092C611.824 440.936 618.097 436.49 623.402 435.987C630.484 435.316 615.95 428.529 613.599 427.308C601.675 421.114 593.386 411.737 582.003 404.702C568.722 396.494 555.419 384.434 544.615 373.274C534.649 362.979 524.843 352.287 517.564 339.892C515.298 336.034 510.875 331.699 509.939 327.413C508.51 320.87 511.94 321.988 518.135 320.045C530.038 316.313 541.248 311.314 552.844 306.975C556.726 305.522 563.384 308.336 566.61 305.631C569.594 303.128 535.133 287.029 532.907 285.418C526.126 280.509 520.992 273.665 516.005 267.048C511.893 261.591 510.005 255.13 506.134 249.586C503.857 246.326 500.302 243.153 498.776 239.477C497.588 236.616 486.776 228.121 485.398 225.247C479.133 212.181 474.867 207.439 467.398 194.747C456.516 210.747 460.895 201.159 459.898 204.247C456.936 213.417 458.994 206.588 453.465 214.554C446.928 223.973 443.862 234.464 438.029 244.202C430.899 256.106 423.095 266.024 412.854 275.478" stroke="white" stroke-width="8" stroke-linecap="round" shape-rendering="crispEdges" />
                </g>
                <path d="M374.062 481.641H309.938V685H374.062V481.641Z" fill="#9B756D" />
                <path d="M342 363.906C278.688 434.704 202.526 492.817 117.562 535.156C188.487 565.584 264.842 581.273 342 581.273C419.158 581.273 495.513 565.584 566.438 535.156C481.485 492.8 405.326 434.689 342 363.906V363.906Z" fill="#66CC4E" />
                <path d="M342 235.469C275.738 299.687 226.361 350.42 128.25 406.719L147.381 412.498C274.337 450.604 409.663 450.604 536.619 412.498L555.75 406.719C453.898 348.173 399.392 291.446 342 235.469Z" fill="#66CC4E" />
                <path d="M342 117.734C307.266 188.375 261.951 240.927 192.375 278.281C289.128 312.91 394.872 312.91 491.625 278.281C421.943 240.82 376.521 188.054 342 117.734Z" fill="#66CC4E" />
                <g filter="url(#filter2_d_71_837)">
                    <path d="M341.153 143.435C339.761 150.743 340.052 162.674 336.418 169.214C334.204 173.2 331.362 179.003 329.813 183.185C327.522 189.37 322.131 194.654 318.531 200.254C314.297 206.84 309.015 212.4 303.508 217.908C291.358 230.057 281.588 243.253 267.265 253.332C257.573 260.152 246.608 266.283 235.582 270.694C229.705 273.044 235.04 273.806 238.621 275.545C249.04 280.606 260.438 282.857 271.181 287.061C274.278 288.273 277.24 289.864 280.359 290.978C285.55 292.832 292.247 292.223 296.961 294.719C297.234 294.864 283.534 316.117 281.703 318.511C275.644 326.435 270.458 334.666 263.29 341.835C256.02 349.105 247.747 355.336 239.674 361.71C230.073 369.289 221.03 376.756 210.329 382.871C205.023 385.902 199.41 391.387 193.785 393.334C189.886 394.684 185.376 396.577 181.744 398.595C180.035 399.545 177.819 399.195 175.956 399.94C174.527 400.512 171.398 399.354 170.345 400.408C169.695 401.058 172.024 401.184 172.917 401.401C177.172 402.439 181.341 403.737 185.543 404.967C206.471 411.095 227.557 417.354 249.027 421.218C257.55 422.752 266.149 422.105 274.747 423.322C283.959 424.627 293.263 425.427 302.572 425.427C305.951 425.427 306.319 424.809 304.268 428.057C296.559 440.263 285.237 448.883 273.227 456.525C267.197 460.363 260.405 462.606 254.288 466.521C249.819 469.381 246.762 473.024 242.772 476.401C236.773 481.476 229.644 488.883 222.487 491.95C218.735 493.558 215.48 497.149 211.732 499.023C207.185 501.296 202.336 503.167 198.053 505.921C193.55 508.816 188.261 511.661 184.374 515.332C180.564 518.931 174.568 523.765 169.526 525.445C165.487 526.792 161.695 528.484 157.601 529.654C153.683 530.774 157.815 530.648 159.822 530.648C171.705 530.648 184.359 535.274 195.948 537.779C202.746 539.249 209.813 539.824 216.408 542.222C229.367 546.934 240.945 555.735 254.989 557.012C274.571 558.792 293.48 560.11 313.153 560.11C318.026 560.11 344.073 564.793 346.414 560.11" stroke="white" stroke-width="8" stroke-linecap="round" />
                    <path d="M344.261 143C345.653 150.309 345.363 162.239 348.996 168.779C351.21 172.765 354.053 178.568 355.602 182.75C357.892 188.935 363.284 194.22 366.884 199.819C371.117 206.405 376.399 211.966 381.907 217.473C394.056 229.622 403.826 242.818 418.15 252.897C427.842 259.718 438.807 265.849 449.833 270.259C455.709 272.61 450.374 273.372 446.793 275.111C436.375 280.171 424.976 282.423 414.233 286.627C411.137 287.838 408.175 289.429 405.055 290.543C399.864 292.397 393.168 291.789 388.454 294.284C388.18 294.429 401.88 315.682 403.711 318.076C409.77 326 414.956 334.232 422.125 341.4C429.395 348.67 437.667 354.901 445.741 361.275C455.342 368.855 464.384 376.321 475.086 382.436C480.391 385.468 486.004 390.953 491.629 392.9C495.529 394.25 500.038 396.143 503.671 398.161C505.38 399.11 507.596 398.76 509.458 399.505C510.887 400.077 514.016 398.919 515.07 399.973C515.72 400.623 513.391 400.749 512.498 400.967C508.243 402.005 504.073 403.302 499.871 404.533C478.943 410.661 457.857 416.919 436.388 420.783C427.865 422.318 419.265 421.67 410.667 422.888C401.455 424.192 392.152 424.992 382.842 424.992C379.463 424.992 379.095 424.374 381.147 427.623C388.856 439.828 400.177 448.448 412.187 456.091C418.218 459.929 425.01 462.172 431.127 466.087C435.595 468.946 438.652 472.59 442.643 475.966C448.641 481.041 455.771 488.448 462.927 491.515C466.68 493.124 469.935 496.714 473.683 498.589C478.229 500.862 483.078 502.733 487.362 505.486C491.865 508.381 497.153 511.227 501.04 514.898C504.851 518.496 510.846 523.33 515.888 525.011C519.928 526.357 523.719 528.05 527.813 529.22C531.731 530.339 527.599 530.213 525.592 530.213C513.709 530.213 501.056 534.839 489.466 537.345C482.668 538.815 475.602 539.389 469.006 541.788C456.048 546.5 444.47 555.3 430.425 556.577C410.843 558.357 391.934 559.675 372.262 559.675C367.388 559.675 341.342 564.358 339 559.675" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter3_d_71_837)">
                    <path d="M206 621C206 636.565 206 652.129 206 667.694C206 673.858 209.153 671.939 214.009 671.939C221.082 671.939 228.402 673 235.282 673C238.568 673 242.842 672.705 245.994 671.88C246.054 671.864 245.644 662.66 245.644 661.268C245.644 648.926 245.644 636.51 245.644 624.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter4_d_71_837)">
                    <path d="M453 622C453 637.565 453 653.129 453 668.694C453 674.858 456.074 672.939 460.809 672.939C467.705 672.939 474.842 674 481.55 674C484.754 674 488.921 673.705 491.994 672.88C492.053 672.864 491.652 663.66 491.652 662.268C491.652 649.926 491.652 637.51 491.652 625.184" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <g filter="url(#filter5_d_71_837)">
                    <path d="M365 587C365 613.041 365 639.082 365 665.122C365 675.435 361.768 672.224 356.791 672.224C349.541 672.224 342.037 674 334.986 674C331.618 674 327.237 673.506 324.006 672.126C323.944 672.099 324.365 656.7 324.365 654.371C324.365 633.722 324.365 612.949 324.365 592.327" stroke="white" stroke-width="8" stroke-linecap="round" />
                </g>
                <defs>
                    <filter id="filter0_d_71_837" x="42.8011" y="185.028" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter1_d_71_837" x="359.897" y="187.275" width="286.199" height="419.036" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter2_d_71_837" x="148.969" y="138.999" width="384.476" height="430.192" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter3_d_71_837" x="199" y="617" width="51" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter4_d_71_837" x="446" y="618" width="50" height="63" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <filter id="filter5_d_71_837" x="317" y="583" width="52" height="98" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dx="-3" dy="3" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.823529 0 0 0 0 0.831373 0 0 0 0 0.819608 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_71_837" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_71_837" result="shape" />
                    </filter>
                    <linearGradient id="paint0_linear_71_837" x1="5585.29" y1="10391.9" x2="10245.7" y2="3396.32" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint1_linear_71_837" x1="5303.14" y1="9692.56" x2="9689.33" y2="3077.34" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                    <linearGradient id="paint2_linear_71_837" x1="3610.24" y1="7764.88" x2="7354.5" y2="3092.24" gradientUnits="userSpaceOnUse">
                        <stop offset="0.9999" stop-color="#49A434" />
                        <stop offset="1" stop-color="#D4E6B6" />
                    </linearGradient>
                </defs>
            </svg>
        </div>
    </div>
</div>