@page "/"

<PageTitle>The 10 Days of Thankmas</PageTitle>

<h1>The 10 Days of Thankmas</h1>

This app will be our Thankmas Gingerbread House Calendar. The gingerbread house will have 10 animating doors or windows
that will reveal the daily surprise. Please check out the readme and planning doc for more details.

<GingerbreadHouse Title="What will the surprise be today?" />
