/* figma mockup: https://www.figma.com/file/qOjwp5c7uuwXvRbPyakmZG/Thankmas-Mockup?node-id=0%3A1 */ 

// START SNOW FALL
//
// https://codepen.io/jordanamorais/pen/dOLPmW?editors=1100
// Awesome Snow CSS by @KeithClark pen <3
// https://codepen.io/keithclark/pen/yBcsr
$d: 70;      // density
$w: 600;     // grid size
$s: 30s;      // speed

// Generate the snow image using radial gradients
$grad: ();
@for $i from 0 to $d {
  $v: random(3) + 2; // size
  $a: random(5) * .1 + .5;
  $grad: $grad, radial-gradient(
      $v+px $v+px at
      (random($w - $v * 2) + $v)+px
      (random($w - $v * 2) + $v)+px, 
      rgba(255,255,255,$a) 70%,
      rgba(0,0,0,0)
  ) !global;
}

.snow-fall, .snow-fall:before, .snow-fall:after {
  position: absolute;
  top: -$w + px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: $grad;
  background-size: $w + px $w + px;
  animation: snow $s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -$w/3 + px;
  opacity: .4;
  animation-duration: $s*2;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: $s*3;
  animation-direction: reverse;
  margin-left: -$w/2 + px;
  opacity: .65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY($w + px);
  }
}
//
// END SNOW ANIMATION


body {
  margin: 0;
  overflow-x: hidden;
}

/* the background color and grid structure for the background layout (trees, house snow, etc.) */
.sky {
  height: 100vh;
  width: 100vw;
  background-color: #a3e0ed;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

/* positions the house in the grid created in .sky */
.house-position {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: sticky;
  bottom: 0;
  margin-top: auto;
  z-index: 2;
}

/* centers the house within the grid box so it's always in the middle of the screen */ 
.house-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* positions the roof on top of the house */ 
.roof {
  width: 75vw;
  position: relative;
  height: 142px;

  svg {
    position: absolute;
  }
}

/* positions and styles the house */
.house {
  background-color: #a5670b;
  min-height: 80vh;
  max-width: 70vw;
  width: 100%;
  padding: 10px 10px 40px;
  
  
  /* positions the little curly icing immediately under the roof */ 
  .house-icing-top {
    width: 100%;
    position: relative;
    height: 300;
  }

  /* aligns the left and right icing lines on either side of the house grid */ 
  .house-flex {
    display: flex; 
    justify-content: space-between;
    align-items: center;
  }

  /* positions the left and right icing lines on the house */ 
  .house-icing-sides {
    width: 22px;
    height: 100%;
  }
  
  /* creates the grid to organize the house windows and door */
  .house-grid {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    
     /* styles that are applied to every window and door */ 
    .grid-box {
      width: 100%;
      min-width: 100px;
      display: flex;
      justify-content: center;
    }
  }
}

/* positions the snow in the grid established in the .sky class and sticks it to the bottom of the page */ 
.snow {
  width: 100vw;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  position: sticky;
  bottom: 0;
  margin-top: auto;
  z-index: 3;

  svg {
    margin-bottom: -50px;
  }
}

/* wraps both sets of trees in a flex box, and positions that on the grid established in the .sky class */ 
.forest-wrapper {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: sticky;
  bottom: 0;
  margin-top: auto;

  /* offsets the margins of both trees so they poke out from behind the house */ 
  .forest-1 {
    margin-left: -10%;
  }

  .forest-2 {
    margin-right: -10%;
  }
}

@media only screen and (min-width: 600px) {
  
  .house-grid {
     grid-template-columns: 1fr 1fr;
  .window-2 {
     grid-column: 1 / -1;
     grid-row: 2 /3;
    }
  .door-10 {
       grid-column: 1 / -1;
    }
  }

}
  
@media only screen and (min-width: 900px) {
  
  .house-grid {
     grid-template-columns: 1fr 1fr 1fr 1fr;
    .window-2 {
     grid-column: 2 / 4;
    }
    .door-10 {
     grid-column: 2 / 4;
      grid-row: 3/4;
    }
    .window-9 {
      grid-column: 4 / 5;
    }
  }

}