/* _content/ThankmasCalendar/Pages/index.razor.rz.scp.css */
/* figma mockup: https://www.figma.com/file/qOjwp5c7uuwXvRbPyakmZG/Thankmas-Mockup?node-id=0%3A1 */
body[b-vci81qhjud] {
    margin: 0;
    overflow-x: hidden;
}
/* the background color and grid structure for the background layout (trees, house snow, etc.) */
.sky[b-vci81qhjud] {
    height: 100vh;
    width: 100vw;
    background-color: #a3e0ed;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
/* positions the house in the grid created in .sky */
.house-position[b-vci81qhjud] {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    z-index: 2;
}
/* centers the house within the grid box so it's always in the middle of the screen */
.house-wrapper[b-vci81qhjud] {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* positions the roof on top of the house */
.roof[b-vci81qhjud] {
    width: 75vw;
    position: relative;
    height: 142px;
}

    .roof svg[b-vci81qhjud] {
        position: absolute;
    }
/* positions and styles the house */
.house[b-vci81qhjud] {
    background-color: #a5670b;
    min-height: 80vh;
    max-width: 70vw;
    width: 100%;
    padding: 10px 10px 40px;
    /* positions the little curly icing immediately under the roof */
    /* aligns the left and right icing lines on either side of the house grid */
    /* positions the left and right icing lines on the house */
    /* creates the grid to organize the house windows and door */
}

    .house .house-icing-top[b-vci81qhjud] {
        width: 100%;
        position: relative;
        height: 300;
    }

    .house .house-flex[b-vci81qhjud] {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .house .house-icing-sides[b-vci81qhjud] {
        width: 22px;
        height: 100%;
    }

    .house .house-grid[b-vci81qhjud] {
        width: 100%;
        display: grid;
        grid-gap: 10px;
        /* styles that are applied to every window and door */
        /* all of the following classes position each element in the house grid. I added border colors to help visualize the grid, but these should be removed when the layout is done */
    }

        .house .house-grid .grid-box[b-vci81qhjud] {
            width: 100%;
            min-width: 100px;
            display: flex;
            justify-content: center;
        }

        .house .house-grid .window-1[b-vci81qhjud] {
            border: 2px solid yellow;
        }

        .house .house-grid .window-2[b-vci81qhjud] {
            border: 2px solid green;
        }

        .house .house-grid .window-3[b-vci81qhjud] {
            border: 2px solid blue;
        }

        .house .house-grid .window-4[b-vci81qhjud] {
            border: 2px solid grey;
        }

        .house .house-grid .window-5[b-vci81qhjud] {
            border: 2px solid red;
        }

        .house .house-grid .window-6[b-vci81qhjud] {
            border: 2px solid orange;
        }

        .house .house-grid .window-7[b-vci81qhjud] {
            border: 2px solid purple;
        }

        .house .house-grid .window-8[b-vci81qhjud] {
            width: 100%;
            display: flex;
            justify-content: center;
            border: 2px solid skyblue;
        }

        .house .house-grid .door-10[b-vci81qhjud] {
            border: 2px solid white;
        }

        .house .house-grid .window-9[b-vci81qhjud] {
            border: 2px solid magenta;
        }
/* positions the snow in the grid established in the .sky class and sticks it to the bottom of the page */
.snow[b-vci81qhjud] {
    width: 100vw;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    z-index: 3;
}

    .snow svg[b-vci81qhjud] {
        margin-bottom: -50px;
    }
/* wraps both sets of trees in a flex box, and positions that on the grid established in the .sky class */
.forest-wrapper[b-vci81qhjud] {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    /* offsets the margins of both trees so they poke out from behind the house */
}

    .forest-wrapper .forest-1[b-vci81qhjud] {
        margin-left: -10%;
    }

    .forest-wrapper .forest-2[b-vci81qhjud] {
        margin-right: -10%;
    }

@media only screen and (min-width: 600px) {
    .house-grid[b-vci81qhjud] {
        grid-template-columns: 1fr 1fr;
    }

        .house-grid .window-2[b-vci81qhjud] {
            grid-column: -1;
            grid-row: 0.6666666667;
        }

        .house-grid .door-10[b-vci81qhjud] {
            grid-column: -1;
        }
}

@media only screen and (min-width: 900px) {
    .house-grid[b-vci81qhjud] {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

        .house-grid .window-2[b-vci81qhjud] {
            grid-column: 0.5;
        }

        .house-grid .door-10[b-vci81qhjud] {
            grid-column: 0.5;
            grid-row: 0.75;
        }

        .house-grid .window-9[b-vci81qhjud] {
            grid-column: 0.8;
        }
}
/* _content/ThankmasCalendar/Shared/MainLayout.razor.rz.scp.css */
.page[b-64x9wbs8ed] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-64x9wbs8ed] {
    flex: 1;
}

.sidebar[b-64x9wbs8ed] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-64x9wbs8ed] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-64x9wbs8ed]  a, .top-row .btn-link[b-64x9wbs8ed] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-64x9wbs8ed] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-64x9wbs8ed] {
        display: none;
    }

    .top-row.auth[b-64x9wbs8ed] {
        justify-content: space-between;
    }

    .top-row a[b-64x9wbs8ed], .top-row .btn-link[b-64x9wbs8ed] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-64x9wbs8ed] {
        flex-direction: row;
    }

    .sidebar[b-64x9wbs8ed] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-64x9wbs8ed] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-64x9wbs8ed], article[b-64x9wbs8ed] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/ThankmasCalendar/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-uoe62xba1l] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-uoe62xba1l] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-uoe62xba1l] {
    font-size: 1.1rem;
}

.oi[b-uoe62xba1l] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-uoe62xba1l] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-uoe62xba1l] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-uoe62xba1l] {
        padding-bottom: 1rem;
    }

    .nav-item[b-uoe62xba1l]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-uoe62xba1l]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-uoe62xba1l]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-uoe62xba1l] {
        display: none;
    }

    .collapse[b-uoe62xba1l] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
